.header-text {
	color: orangered;
	font-weight: 600;
	text-align: center;
}

.section-para {
	color: #444;
	text-align: center;
	font-weight: 400;
}

/* Navigation Bar */
nav {
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 50px 0px 20px;
}

nav .logo img {
	width: 14rem;
	padding: 1rem;
}

nav ul {
	display: flex;
	list-style: none;
	padding: 5px 20px; /* Remove default padding */
}

nav ul li {
	margin: 0.5rem;
	padding: 8px 20px;
}

nav ul li a {
	color: #1b1b1b;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	background-color: #fff;
	padding: 8px 18px;
	border: 1xp solid black;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
	color: #fff;
	background-color: #1a2b3c;
	outline: none; /* Remove default outline for better focus effect */
}

.active {
	color: #fff;
	background-color: #1a2b3c;
	font-weight: 500;
}

/* Carousel */

.carousel-item img {
	height: 90vh;
}

.carousel-controls {
	position: absolute;
	bottom: 20px;
	right: 50%;
	transform: translateX(50%);
}

.carousel-indicators {
	list-style: none;
}

.carousel-indicators-end {
	display: flex;
	justify-content: center;
	list-style: none; /* Remove list style */
	padding-left: 0; /* Remove default padding */
}

.carousel-indicators-end li {
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.carousel-indicators-end li.active,
.carousel-indicators-end li:hover,
.carousel-indicators-end li:focus {
	background-color: #fff;
	outline: none; /* Remove default outline for better focus effect */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
	nav {
		padding: 10px 20px 0px 20px;
	}

	nav .logo img {
		width: 15rem;
	}

	nav ul li {
		margin: 0.25rem;
	}

	nav ul li a {
		font-size: 16px;
		padding: 6px;
	}
}

@media (max-width: 480px) {
	nav {
		flex-direction: column;
		align-items: flex-start;
		height: auto;
	}

	nav ul {
		flex-direction: column;
		width: 100%;
	}

	nav ul li {
		width: 100%;
	}

	nav ul li a {
		display: block;
		width: 100%;
	}
}

/* Core Businesses */
.coreBusinessSection {
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	max-width: 80%;
	margin: auto;
}

.card-link {
	text-decoration: none;
	color: inherit;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.card-link:hover {
	text-decoration: none;
	color: inherit;
}

.image-container {
	overflow: hidden;
	height: 50%; /* Ensures the image-container takes up 80% of the card height */
	flex: 1 0 auto;
}

.card-img-top {
	width: 100%;
	height: 100%;
	object-fit: fill; /* Ensures the image covers the container without stretching */
	transition: transform 0.3s ease-in;
}

.card-link:hover .card-img-top {
	transform: scale(1.1);
}

.card-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 20px; /* Add padding on left and right */
}

.card-link:hover {
	background-color: #2c2b2b88;
	transform: scale(0.96);
}

/* Media Queries */
@media (max-width: 768px) {
	.card-link {
		flex-direction: column;
	}

	.card-body {
		flex-direction: column;
		align-items: center;
		text-align: center;
		height: auto; /* Let the height adjust based on content */
		padding: 10px;
	}

	.image-container {
		height: auto; /* Let the height adjust based on content */
		width: 100%;
	}

	.card-img-top {
		height: auto; /* Adjust image height automatically */
		width: 100%;
		object-fit: contain;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.card-link {
		flex-direction: column;
		height: 100%;
	}

	.image-container {
		height: 60%; /* Adjust to 60% of the card height */
		width: 100%;
	}

	.card-img-top {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.card-body {
		height: 30%; /* Adjust to 30% of the card height */
		padding: 20px 20px; /* Add padding at top and bottom */
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

/* Company Culture */
.CompanyCulture_Section {
	width: '100vh';
	background: #000;
}

.CompanyCulture_Section img {
	width: 100%;
}

/* ProductsListContainer */

.ProductsListContainer .card .card-img {
	height: 550px;
	padding: 30px !important;
}

.ProductsListContainer .card-text {
	font-size: 1.2rem;
	color: black;
}
.ProductListButton {
	border-radius: 30px;
}

.ProductList_hr {
	margin: 0 20px;
	color: #000;
	background-color: #000;
}

.ProductsListContainer .card:hover {
	background: #00000018;
	cursor: pointer;
}

/* Footer */
.footer {
	background-color: #eb692f;
	text-align: center;
	margin: 20px 0;
	padding: 20px 0;
}
.footer .col-5 {
	border-right: 2px solid white;
}
.footer h4 {
	font-size: 1.25rem;
	font-weight: 500;
}

.footer h5 {
	font-size: 1.01rem;
	font-weight: 300;
	line-height: 1.5rem;
	letter-spacing: 2px;
}

.phoneLogo {
	width: 25px;
	margin-right: 10px;
}

.locationIcon {
	width: 25px;
	margin-right: 10px;
}
.carousel-container {
	margin: 10px auto;
	padding: 20px 0;
}

.tyre-card {
	outline: 2px solid black;
	margin: 0 2rem;
	position: relative;
}

.card-img {
	height: 350px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: flex-end;
}

.tyre-info {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-weight: 600;
	padding: 10px;
	width: 100%;
	text-align: center;
}

.btn-primary {
	background: orangered;
	color: whitesmoke;
	font-weight: 500;
	outline: orangered !important;
	border: 2px solid red !important;
}

.btn-primary:hover {
	background: rgba(255, 68, 0, 0.216);
	color: red;
	outline: red;
}
.productsSection.card-image {
	width: 100%;
	height: auto;
}

.productsSection .card-text {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.6); /* Transparent background */
	color: white;
	text-align: center;
	padding: 8px 5px;
	font-weight: 500;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
